@font-face {
    font-family: Oxygen;
    src: url(./Oxygen/Oxygen-Regular.ttf)
}

@font-face {
    font-family: Poppins;
    src: url(./Poppins/Poppins-Regular.ttf)
}

@font-face {
    font-family: UrbanJungle;
    src: url(./UrbanJungle/UrbanJungle.otf)
}

@font-face {
    font-family: Shock;
    src: url(./Shock/Shock.otf)
}
